<span *ngIf="isOpen()">
	
	<div class="blended side_panel sidenav" [style.background-image]="getBackgroundStyle()">
		 <div class="text">
		 	<a href="javascript:void(0)" class="closebtn" (click)="toggleNav()"><span class="glyphicon glyphicon-remove white"></span></a>
		 	<br>
			<h3>{{currentIssue.title}}</h3>
			<p>{{currentIssue.description}}</p>
			<br>
			<p>Publication Date: {{currentIssue.publicationDate | date}} </p>
			<br>
			<button type="button" class="btn btn-success" (click)="openModal(template)">Order</button>
	  	</div> 
	</div>
</span>

<template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">New Order</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="input-group">
				
				<div class="form-group">
					<label for="name">Very fine:</label>
					<input type="number" id="quantity_very_fine" name="quantity_very_fine" class="form-control input-number" value="0" min="0" max="100" [(ngModel)]="quantity_very_fine">
				</div>

				<div class="form-group">
					<label for="name">Fine:</label>
					<input type="number" id="quantity_fine" name="quantity_fine" class="form-control input-number" value="0" min="0" max="100" [(ngModel)]="quantity_fine">
				</div>

				<div class="form-group">
					<label for="name">Good:</label>
					<input type="number" id="quantity_good" name="quantity_good" class="form-control input-number" value="0" min="0" max="100" [(ngModel)]="quantity_good">
				</div>

				<div class="form-group">
					<label for="name">Poor:</label>
					<input type="number" id="quantity_poor" name="quantity_very_poor" class="form-control input-number" value="0" min="0" max="100" [(ngModel)]="quantity_poor">
				</div>
			</div>


			<br>

		 	<button type="button" class="btn btn-primary" (click)="modalRef.hide();">Save</button>
		  	<button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
		</form>
  </div>
</template>