.text {
  padding: 20px;
  color: white;
}

.blended {
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-size:100%;
}

.side_panel {
  height:50vh;
  margin-right:5px;
  margin-left:5px;
}

.white {
  color: #fff;
}