<span  *ngIf="currentIssue != undefined">
	
	<div class="blended side_panel sidenav" [style.background-image]="getBackgroundStyle()">
		 <div class="text">
		 	<a href="javascript:void(0)" class="closebtn" (click)="toggleNav()"><span class="glyphicon glyphicon-remove white"></span></a>
		 	<br>
			<h3>{{currentIssue.title}}</h3>
			<p>{{currentIssue.description}}</p>
			<br>
			<p>Publication Date: {{currentIssue.publicationDate | date}} </p>
			<br>
			<button type="button" class="btn btn-success">Order</button>
	  	</div> 
	</div>
</span>