.thumbnail {
     background-size: 100%;
     background-repeat: no-repeat;
     background-height:100%;
     height: 300px;
     width: 150px;
 }

 .selected { 
	background-color: black;
	color: white;
  }